﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*height: 100%;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}
.asdasd{

}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

