﻿
@{
    ViewBag.Title = "Index";
    bool seConfiguro = false;
    var key = "";
    var iv = "";
    if (Session["configurado"] != null)
    {
        seConfiguro = (bool)Session["configurado"];
    }

    if (Session["key"] != null)
    {
        key = (string)Session["key"];
    }

    if (Session["iv"] != null)
    {
        iv = (string)Session["iv"];
    }
}
<link href="~/Styles/Style.css" rel="stylesheet" />
<div class="main">
    <div class="configuracion">
        <div class="title">
            Configuración
        </div>
        <form action="/Home/GuardarConfiguracion" method="post">
            <div class="campos">
                <div class="etiqueta">Vector inicialización:</div>
                <input name="iv" type="search" maxlength="10" pattern="[0-9A-Za-z]{10}" min="10" name="iv" placeholder="Ingrese cadena de 10 dígitos" title="Ingrese una cadena de 10 dígitos para el Vector Inicialización" value="@(key.Length > 0 ? key : null)" required disabled="@(seConfiguro ? "disabled" : null)">
            </div>
            <div class="campos">
                <div class="etiqueta">Clave:</div>
                <input name="key" type="search" maxlength="10" pattern="[0-9A-Za-z]{10}" min="10" name="key" placeholder="Ingrese cadena de 10 dígitos" title="Ingrese una cadena de 10 dígitos para el Key" required value="@(iv.Length > 0 ? iv : null)" disabled="@(seConfiguro ? "disabled" : null)">
            </div>
            <input class="boton-guardar" name="submitButton" type="submit" value="Guardar" disabled="@(seConfiguro ? "disabled" : null)">
            <input class="boton-reconfigurar" name="submitButton" type="submit" value="Reconfigurar" disabled="@(seConfiguro ? null : "disabled")">
        </form>
    </div>
    <div class="cifradores">
        <div class="archivo">
            <div class="etiqueta">Cifrado por archivo</div>
            <div class="selector-archivo">
                <form class="form-selector-archivo" action="/Home/ProcesarArchivo" enctype="multipart/form-data" method="post">
                    <input type="file" name="file" disabled="@(seConfiguro ? null : "disabled" )" />
                    <div class="botonera">
                        <input class="" type="checkbox" name="ivKeyBigEndian" value="ivKeyBigEndian" title="prueba" disabled="@(seConfiguro ? null : "disabled" )" /> IV y Key BigEndian
                        <input class="" type="checkbox" name="loadBigEndian" value="loadBigEndian" disabled="@(seConfiguro ? null : "disabled" )" /> Funcion en BigEndian
                        <input class="boton-enviar" type="submit" value="Enviar" disabled="@(seConfiguro ? null : "disabled" )" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            @{
                if (ViewBag.OutPath != null && ViewBag.OutPath.Length > 0)
                {
                    @:<a href="@ViewBag.OutPath" target="_blank">Descargar Archivo de Salida</a>
                }
            }
        </div>
        <hr />
        <div class="texto-plano">
            <div class="etiqueta">Cifrado por texto plano</div>
            <div class="campos">
                <div class="ingreso-manual">
                    <form action="/Home/ProcesarTexto" method="post">
                        <textarea name="texto" placeholder="Ingrese el texto a cifrar..." rows="6" cols="50" disabled="@(seConfiguro ? null : "disabled" )"></textarea>
                        <div class="botonera">
                            <input class="" type="checkbox" name="ivKeyBigEndian" value="ivKeyBigEndian" title="prueba" disabled="@(seConfiguro ? null : "disabled" )" /> IV y Key BigEndian
                            <input class="" type="checkbox" name="loadBigEndian" value="loadBigEndian" disabled="@(seConfiguro ? null : "disabled" )" /> Funcion en BigEndian
                            <input class="boton-enviar" type="submit" value="Enviar" disabled="@(seConfiguro ? null : "disabled" )" />

                        </div>
                    </form>
                </div>
                <div class="salida-ingreso-manual">
                    <h3>Salida</h3>
                    <code>@ViewBag.Out</code>
                </div>
            </div>
        </div>
    </div>
</div>




