﻿body {
    background-color: #F6F6F6
}

.main {
    width: 80%;
    height: 100%;
}

    .main .configuracion {
        height: 50px;
        display: flex;
        align-self: center;
        border-bottom: 2px solid black;
        align-items: center;
        justify-content: space-around;
        background-color: ghostwhite;
    }

        .main .configuracion .title {
            font-weight: bold;
            font-size: 20px;
        }

        .main .configuracion form {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .main .configuracion form .campos {
                display: flex;
                flex-direction: row;
                margin: 3px 5px;
                align-items: center;
                font-weight: bold;
            }

                .main .configuracion form .campos .etiqueta {
                    margin-right: 3px;
                }

                .main .configuracion form .campos input {
                    width: 205px;
                }


            .main .configuracion form .boton-reconfigurar {
                width: 100px;
                height: 33px;
                margin: 0 10px;
            }

            .main .configuracion form .boton-guardar {
                width: 80px;
                height: 33px;
                margin: 0 10px;
            }

            
    .main .cifradores {
        margin-top: 20px;
        background-color: ghostwhite;
    }

        .main .cifradores .archivo {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

            .main .cifradores .archivo .etiqueta {
                font-size: 20px;
            }

            .main .cifradores .archivo .selector-archivo .form-selector-archivo {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                left: 60px;
            }


                .main .cifradores .archivo .selector-archivo .form-selector-archivo .botonera .boton-enviar {
                    width: 80px;
                    height: 33px;
                    margin: 0 10px;
                }

        .main .cifradores .ingreso-manual {
            display: flex;
            flex-direction: column;
        }

        .main .cifradores .etiqueta {
            font-size: 20px;
        }


        .main .cifradores .texto-plano .campos .ingreso-manual form {
            display: flex;
            flex-direction: column;
        }

            .main .cifradores .texto-plano .campos .ingreso-manual form textarea {
                width: 350px;
            }

            .main .cifradores .texto-plano .campos .ingreso-manual form .botonera .boton-enviar {
                width: 80px;
                height: 33px;
                margin: 0 10px;
            }
